---
import { Button, PrimaryButton } from "../components/Button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PzHown">
  <main
    class="p-60"
    style="background: url(https://files.codelife.cc/wallpaper/wallspic/2024042605fkke.jpeg?x-oss-process=image/resize,limit_0,m_fill,w_2201,h_1440/quality,Q_95/format,webp);"
  >
    <div class="flex gap-4">
      <Button>111</Button>
      <Button>111</Button>
      <PrimaryButton>111</PrimaryButton>
      <Button>111</Button>
      <Button>111</Button>
      <PrimaryButton>111</PrimaryButton>
    </div>
  </main>
</Layout>

<style></style>
